= provide(:title, 'Sign up')

= form_for :user, :url => { :controller => "users",:action => "create" } do |f|

  %fieldset

    %legend Join Us



    %section

      %article
        = f.label :name
        = f.text_field :name

      %article
        = f.label :email
        = f.text_field :email

      %article
        = f.label :password
        = f.password_field :password

      %article
        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation

      %article
        = f.submit "Create my account", class: "btn-submit"



