= provide(:title, 'Create Pahth')



= form_for(@pahth) do |f|

  %fieldset.grid_4

    %legend Create Path

    = render 'shared/error_messages', object: f.object

    %section

      %article
        = f.label :title
        = f.text_field :title

      %article
        = f.label :type
        = f.text_field :pahth_tipo

      %article
        = f.label :description
        = f.text_area :description, :rows => 5

      %article= f.submit "Create Path", class: "btn btn-large btn-primary", :class => "btn-submit"

%section.grid_2.push_4.to-dos= to_do_list
