-# Create new learning steps and see all steps created

= provide(:title, "#{@current_user.name} | Teaching Steps")

= form_for(@p_step) do |f|

  %fieldset.grid_4.omega

    %legend Create Learning Steps
    = render 'shared/error_messages', object: f.object

    %section
      %article
        = f.label :title
        = f.text_field :title
      %article
        = f.label :knowledge_category
        = f.text_field :category_knowledge
      %article
        = f.label :learning_style
        = f.select :type_learning, learning_types_array, :prompt => 'Select One'
      %article
        = f.label :description
        = f.text_area :content, :rows => 5
      %article
        = f.submit "Create Step", class: "btn-submit"

  %section.grid_3
    %h1 Learning Steps
    - if @p_steps_feed_items.any?
      = render partial: 'shared/p_steps_feed_item', collection: @p_steps_feed_items

  %section.grid_2.to-dos= to_do_list
