= provide(:title, "Log In")


= form_for @user_session do |f|

  %fieldset.grid_4.push_4

    %legend Log In

    = render 'shared/error_messages', object: f.object

    %section

      %article
        = f.label :email
        = f.text_field :email

      %article
        = f.label :password
        = f.password_field :password

      %article= f.submit "Submit", class: "btn-submit"


