= provide(:title, "Log In")


%h1 Log In

%div.row
  %div.span6.offset3

    = form_for @user_session do |f|

      = render 'shared/error_messages', object: f.object

      %div
        = f.label :email
        = f.text_field :email

      %div
        = f.label :password
        = f.password_field :password

      %div= f.submit "Submit", class: "btn btn-large btn-primary"


