!!! 5
%html
   %head
      %title= full_title(yield(:title))
      %link(rel="shortcut icon" href="/favicon.ico/")
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
      = csrf_meta_tags

      = render 'layouts/shim'

   %body.homepage

      = render 'layouts/header'

      =render 'layouts/nav_list'

      %div.container.main-position

         - flash.each do |key, value|
            %div{:class=> "alert alert-#{key}"}= value

         = yield

         = render 'layouts/footer'

         = debug(params) if Rails.env.development?

